.label{
  font-size: 20px;
  padding: 0.5%;
  color: white;
}

input{
  font-size: 20px;
}
h2{
  background-color: orange;
  padding: 3px;
  border-radius: 10px;
}

.signupform{
  text-align: center;
  padding: 3px;
  width:500px;
  margin: auto auto auto auto;
  background-color: black;
  border-radius: 10px;
}

/* Shared styles for both buttons */
button {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #000;
  cursor: pointer;
}

/* Style for Button 1 */
#button1 {
  /* Add specific styles for button 1 here */
  margin-right: 10px; 
  background-color: green;/* Optional spacing between buttons */
}

/* Style for Button 2 */
#button2 {
  margin-right: 10px;
  background-color: red;
  /* Add specific styles for button 2 here */
}

